.home-container{
    background-image: url('https://giphy.com/embed/MDa6dnB0CABmv9N1X4');
    background-repeat: no-repeat;
    background-size: 100rem 100rem;
    background-position: center;
    backdrop-filter: grayscale(100%);
    /* width: 100%;  */
    /* aspect-ratio: 16/9; */
}

.gif-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#background-video{
    position: absolute;
    top: 85%;
    left: 60%;
    width: 200rem;
    height: 200rem;
    object-fit: cover;
    transform: translate(-50%, -50%);
}
